# export DISABLE_GOLANG=true
# export DISABLE_NODEJS=true
# export DISABLE_PYTHON=true
# export DISABLE_SDKMAN=true
# export DISABLE_ANTIGEN=true
# export DISABLE_ITERM=true
# export PROFILE_STARTUP=false

export LAZY_PYENV=true
export LAZY_NODENV=true
export LAZY_DIRENV=true
export LAZY_GOENV=true
