<?xml version=”1.0" encoding=”UTF-8"?>
<!DOCTYPE plist PUBLIC “-//Apple Computer//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version=”1.0">
<dict>
<key>Label</key>
<string>com.caddyserver.web</string>
<key>EnvironmentVariables</key>
<dict>
<key>HOME</key>
<string>/Users/andy</string>
</dict>
<key>ProgramArguments</key>
<array>
<string>sh</string>
<string>-c</string>
<string>ulimit -n 8192; cd $HOME/Sites; /usr/local/bin/caddy -agree -email andyfang.dz@gmail.com -conf=$HOME/Sites/Caddyfile</string>
</array>
<key>UserName</key>
<string>root</string>
<key>RunAtLoad</key>
<true/>
<key>KeepAlive</key>
<true/>
<key>WorkingDirectory</key>
<string>/Users/andy/Sites</string>
<key>StandardOutPath</key>
<string>/Users/andy/Sites/caddy.log</string>
<key>StandardErrorPath</key>
<string>/Users/andy/Sites/caddy_error.log</string>
</dict>
</plist>
