<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.github.aria2</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>ProgramArguments</key>
  <array>
      <string>/usr/local/bin/aria2c</string>
      <string>--enable-rpc=true</string>
      <string>--conf-path=/Users/andy/.aria2/aria2.conf</string>

  </array>
  <key>ServiceDescription</key>
  <string>The ultra fast download utility</string>
</dict>
</plist>
